@model FIT5032_Project.Models.OrderMenu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OrderMenu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Menu.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Category)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderMenuId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
